html {
  overflow-x: hidden;
}

body {
  font-family: 'Noto Naskh Arabic', serif;
  color: #9fa1a4;
  line-height: 1.5;
  background-color: #DCBD90;
}

a {
  color: #777;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.container {
  z-index: 2;
  position: relative;
}

.text-black {
  color: #000 !important;
}

.text-primary {
  color: #D3D3D3 !important;
}

.border-top {
  border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2 !important;
}

figure figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
}

section {
  overflow: hidden;
}

.section {
  padding: 7rem 0;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(-100deg,#9a6b3f, #6e3b04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* butten home */
.btnt-conteiner {
  display: flex;
  justify-content: center;
	margin-top: 5px;
  --color-text: #ffff;
  --color-background: #da8026;
  --color-outline: #a3530e;
  --color-shadow: #00000080;
}

.btnt-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #F3E6D8;
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btnt-content:hover, .btnt-content:focus {
  transition: 0.5s;
  -webkit-animation: btnt-content 1s;
  animation: btnt-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
 color: #603813;
}

.btnt-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btnt-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btnt-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btnt-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btnt-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btnt-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btnt-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}





/*clints*/
.clients {
  padding: 0 0 40px 0;
}

.clients .swiper-slide img {
  opacity: 0.7;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}


/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/
.icon-boxes {
  padding-top: 0;
  position: relative;
  z-index: 100;
}

.icon-boxes .icon-box {
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  background: #E9D0B7;
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.icon-boxes .icon {
  margin: 0 auto 20px auto;
  display: inline-block;
  text-align: center;
}

.icon-boxes .icon i {
  font-size: 36px;
  line-height: 1;
  color: #BF490C;
}

.icon-boxes .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-boxes .title a {
  color: #7E4D1D;
}

.icon-boxes .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #221507;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #584323;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #EDDEC8;
  line-height: 0;
}

.back-to-top:hover {
  background: #9C773E;
  color: #E8D3B6;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Default btn sre-tyling */
.btn {
  border: none;
  padding: 15px 30px !important;
}

.btn.btn-outline-white {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

.btn.btn-outline-white:hover {
  background: #fff;
  color: #2d71a1;
}

.btn.btn-primary {
  background: #2d71a1;
  background: linear-gradient(-45deg, #1391a5, #274685);
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* P Food */
.popular-cat .wp {
    padding: 0
}

.popular-cat li {
    width: 50%;
    text-align: center;
    padding: 5px;
    float: right
}

@media(min-width: 767px) {
    .popular-cat li {
        width:33.3333333333%;
        padding: 8px
    }
}

@media(min-width: 992px) {
    .popular-cat li {
        width:20%
    }
}
.popular-cat a {
    position: relative;
    background-color: #f8f8f8;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
	display: block;
}
.popular-cat a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#99000000",GradientType=0 )
}

.popular-cat a img {
    width: 100%;
    display: block
}

.popular-cat a span {
    position: absolute;
    bottom: 15px;
    font-size: 16px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,.8);
    z-index: 2;
    width: auto;
    right: 15px
}

@media(min-width: 992px) {
    .popular-cat a:hover {
        -webkit-transform:translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2)
    }

    .popular-cat a span {
        font-size: 18px;
        font-size: 1.125rem
    }
}

.mobile .popular-cat .wrapper {
    margin: 0;
    width: 100%
}

.mobile .popular-cat h2 {
    padding-right: 5%
}

.mobile .popular-cat .qu-h {
    overflow: hidden;
    height: 85px
}

.mobile .popular-cat ul {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding-bottom: 10px;
    float: right;
    direction: rtl;
    padding-right: 5%
}

.mobile .popular-cat li {
    float: none;
    display: inline-block;
    width: 150px;
    height: 80px;
    padding: 0;
    margin-left: 10px
}

.mobile .popular-cat li:last-child {
    margin-left: 5%
}

.mobile .popular-cat li a {
    font-size: 12px;
    font-size: .75rem
}

.mobile .popular-cat span {
    line-height: 13px
}




.why-us .why-box {
  padding: 30px;
  background: #DD8D3C;
  color: #704A26;
}

.why-us .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
  color: #F6EEE2;
}

.why-us .why-box p {
  margin-bottom: 30px;
}

.why-us .why-box .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  padding: 6px 30px 8px 30px;
  color: #694B20;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .why-box .more-btn i {
  font-size: 14px;
}

.why-us .why-box .more-btn:hover {
  color: #F6EEE2;
  background: #DA8026;
}

.why-us .icon-box {
  text-align: center;
  background:#B98539;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}

.why-us .icon-box i {
  color: #684B20;
  margin-bottom: 30px;
  font-size: 32px;
  background:blanchedalmond;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.why-us .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: var(--font-secondary);
}

.why-us .icon-box p {
  font-size: 15px;
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .why-us .icon-box:hover {
    transform: scale(1.1);
  }
}

.why-us .service-item {
  padding: 40px;
  background: #F6EEE2;
  height: 100%;
  border-radius: 10px;
}

.why-us .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.why-us .service-item .icon i {
  color:#704A26;
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.why-us .service-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #DA8026;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -20px;
  transition: 0.3s;
}

.why-us .service-item h3 {
  color: #704A26;
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #BF6622;
  transition: 0.3s;
}

.why-us .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
 color: #704A26;
}

.why-us .service-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--color-primary);
}

.why-us .service-item:hover .icon:before {
  background: #E9B580;
}

.why-us .service-item:hover h3 {
  border-color: #EBD9C0;
	
}


/*--------------------------------------------------------------
# sh-box Section
--------------------------------------------------------------*/
.sh-box .nav-tabs {
  border: 0;
}

.sh-box .nav-link {
  padding: 15px 0;
  transition: 0.3s;
  color: #98671B;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid #dc9968;
}

.sh-box .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.sh-box .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
 color: #5c321e;
}

@media (max-width: 575px) {
  .sh-box .nav-link h4 {
    font-size: 16px;
	  color: #5c321e;
  }
}

.sh-box .nav-link:hover {
  color: #5c321e;
	background-color: transparent;
}

.sh-box .nav-link.active {
  color: #db5f04 ;
  background-color:transparent;
  border-color: #db5f04;
}
.sh-box .nav-link.show :hover{
	color: #5c321e;
}

.sh-box .tab-content {
  margin-top: 40px;
	color: #5c321e;
}

.sh-box .tab-pane h3 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #5c321e;
}

.sh-box .tab-pane ul {
  list-style: none;
  padding: 0;
}

.sh-box .tab-pane ul li {
  padding-top: 10px;
	color:#5c321e;
}

.sh-box .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #db5f04;
}

.sh-box .tab-pane p:last-child {
  margin-bottom: 0;
	color: #5c321e;
}
.fst-italic {
    font-style: italic!important;
    color: #5c321e;
}


/*--------------------------------------------------------------
# clin
--------------------------------------------------------------*/
.clin {
  padding-top: 20px;
}

.clin .icon-box2 {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: ease-in-out 0.3s;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
}

.clin .icon-box2 i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.clin .icon-box2 h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.clin .icon-box2 h3 a {
  color: #493c3e;
  transition: ease-in-out 0.3s;
}

.clin .icon-box2:hover a {
  color: #dd690b;
}




/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services2 .img2 {
  border-radius: 20px;
  overflow: hidden;
 max-height: 400px;
	max-width: 600px;
}

.services2 .img2 img {
	transition: 0.6s;
}

.services2 .details2 {
  padding: 50px 30px;
  margin: -100px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: #C98163;
  position: relative;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px #C98163, 0.1;
}

.services2 .details2 .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: #DCBD90;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #C98163;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid var(--color-white);
}

.services2 .details2 h3 {
  color: #FFFFFF;
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.services2 .details2 p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
	color: #000000;
}

.services2 .service2-item:hover .details2 h3 {
  color: #DCBD90;
}

.services2 .service2-item:hover .details2 .icon {
  background: #DBAA96;
  border: 2px solid;
}

.services2 .service2-item:hover .details2 .icon i {
  color: #87482F;
}

.services2 .service2-item:hover .img2 img {
  transform: scale(1.2);
}


/* Frequently Asked Questions Section
--------------------------------------------------------------*/
.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
color: #704A26;
}

.faq .accordion-item {
  border: 0;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.faq .accordion-item:last-child {
  margin-bottom: 0;
}

.faq .accordion-collapse {
  border: 30px;
}

.faq .accordion-button {
  padding: 20px 50px 20px 20px;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  color: #74592F;
  text-align: left;
  background: #F6EEE2;
  box-shadow: none;
  border-radius: 30px;
}

.faq .accordion-button .num {
  padding-right: 10px;
  font-size: 20px;
  line-height: 0;
  color: #F6EEE2;
}

.faq .accordion-button:not(.collapsed) {
  color:#795F36;
  border-bottom: 30px;
  box-shadow: none;
}

.faq .accordion-button:after {
  position: absolute;
  right: 20px;
  top: 20px;
}

.faq .accordion-body {
  padding: 0 40px 30px 45px;
  border: 0;
  border-radius: 10px;
  background: #F6EEE2;
  box-shadow: none;
}

/* Feature 1 */
.feature-1 .wrap-icon {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.feature-1 .wrap-icon.icon-1 {
  background: linear-gradient(-45deg, #3b87bd, #2d71a2);
}

.feature-1 .wrap-icon i {
  font-size: 40px;
  line-height: 0;
  color: #fff;
}

.feature-1 h3 {
  font-size: 20px;
}

.feature-1 p {
  color: #b1b1b1;
}

/* Step */
.step {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 40px;
}

.step .number {
  background: linear-gradient(-45deg, #1391a5, #274685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  display: block;
}

.step p:last-child {
  margin-bottom: 0px;
}

/* Review */
.review h3 {
  font-size: 20px;
}

.review p {
  line-height: 1.8;
  font-style: italic;
  color: #333333;
}

.review .stars span {
  color: #FF8803;
}

.review .stars .muted {
  color: #ccc;
}

.review .review-user img {
  width: 70px;
  margin: 0 auto;
}

/* Testimonial Carousel */
.testimonials-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2d71a1;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2d71a1;
}

/* Pricing */
.pricing {
  padding: 50px;
  color: #fff;
  padding-bottom: 12rem !important;
  position: relative;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.pricing h3 {
  color: #2d71a1;
}

.pricing .price-cta {
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  left: 0;
}

.pricing .price-cta .price {
  display: block;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 300;
}

.pricing .popularity {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
  display: block;
  margin-bottom: 20px;
}

.pricing ul {
  margin-bottom: 50px;
}

.pricing ul li {
  margin-bottom: 10px;
}

.pricing .btn-white {
  background: #fff;
  border: 2px solid rgb(241, 241, 241);
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.pricing .btn-white:hover {
  color: #2d71a1;
}

.pricing.popular {
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  
}

.pricing.popular .popularity {
  color: #b3b3b3;
}

.pricing.popular h3 {
  color: #fff;
  background: none;
}

.pricing.popular .btn-white {
  border: 2px solid #2d71a1;
}

/* CTA Section */
.cta-section {
  background: linear-gradient(to right, rgb(39, 70, 133) 0%, rgb(61, 179, 197) 100%);
  color: #fff;
}

.cta-section h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .cta-section h2 {
    font-size: 2rem;
  }
}

.cta-section .btn {
  background: #000000;
  color: #fff;
}

.cta-section .btn i {
  margin-right: 5px;
  font-size: 24px;
  line-height: 0;
}

/* Contact Form */
.form-control {
  height: 48px;
  border-radius: 0;
  border: 1px solid #dae0e5;
}

.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #2d71a1;
}

.php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .error-message br+br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.php-email-form textarea {
  min-height: 160px;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Blog */
.post-entry {
  margin-bottom: 60px;
}

.post-entry .post-text .post-meta {
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
}

.post-entry .post-text h3 {
  font-size: 20px;
  color: #000000;
}

.post-entry .post-text h3 a {
  text-decoration: none;
  color: #000000;
}

.post-entry .post-text h3 a:hover {
  text-decoration: none;
  color: #2d71a1;
}

.post-entry .post-text .readmore {
  color: #2d71a1;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted gray("300");
  list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a,
.sidelink li a {
  text-decoration: none;
  display: block;
}

.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a,
.sidelink li.active a {
  text-decoration: none;
  color: #000000;
  font-style: italic;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
  color: #000000;
  background: #e3e3e3;
}

.search-form {
  background: #f7f7f7;
  padding: 10px;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group input {
  padding-right: 50px;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
 
}

#header.header-scrolled {
  background: rgba(167, 123, 54, 0.8);
  height: 60px;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 500;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #B98539;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #6F461C;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #FFFFFF;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(110, 59, 4, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #DCBD90;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #6F461C;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #FFFFFF;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #DCBD90;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #FFFFFF;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  background: linear-gradient(to right, rgba(110, 59, 4, 0.7) 0%, rgba(154, 109, 69, 0.8) 100%),
url("../img/hero-bg.jpg");
  position: relative;
}

.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -150px;
}

@media screen and (max-width: 992px) {
  .hero-section .wave {
    bottom: -180px;
  }
}

.hero-section .wave svg {
  width: 100%;
}

.hero-section,
.hero-section>.container>.row {
  height: 100vh;
  min-height: 880px;
}

.hero-section.inner-page {
  height: 60vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  transform: translateY(-150px);
  margin-top: -120px;
}

@media screen and (max-width: 992px) {
  .hero-section.inner-page .hero-text {
    margin-top: -80px;
  }
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .hero-section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 992px) {
  .hero-section .hero-text-image {
    margin-top: 4rem;
	 justify-content: center;
  }
}

.hero-section p {
  font-size: 18px;
  color: #fff;
}

.hero-section .iphone-wrap {
  position: relative;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap {
    text-align: center;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -50%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

@media screen and (max-width: 992px) {

  .hero-section .iphone-wrap .phone-2,
  .hero-section .iphone-wrap .phone-1 {
    position: relative;
    top: 0;
    max-width: 100%;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-1 {
    margin-left: -150px;
  }
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2 {
    width: 250px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 5rem 0 2.5rem 0;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 30px;
	color: #3E2F18;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: #584323;
}

.card-social {
  display: flex;
  height: 70px;
  width: 270px;
}

.card-social svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card-social .social-link1,.card-social .social-link2,.card-social .social-link3,.card-social .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card-social svg {
  transform: scale(1);
}

.card-social .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card-social .social-link2:hover {
  background-color: #00ccff;
  animation: bounce_613 0.4s linear;
}

.card-social .social-link3:hover {
  background-color: #438DDB;
  animation: bounce_613 0.4s linear;
}

.card-social .social-link4:hover {
  background-color: #0C0774;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


.footer p{
	color: #F0E3D0;
}

/*--------------------------------------------------------------
# mainmenu Section
--------------------------------------------------------------*/

.mainmenu {
  width: 100%;
  min-height: 100vh;
  background: url("../img/m2.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 120px 0;
  z-index: 3;
}

@media (min-width: 1034px) {
  .mainmenu:after {
    position: absolute;
    content: "";
    width: 40%;
    background: #794715;
    top: 0;
    bottom: 0;
  }
}

.mainmenu:before {
  position: absolute;
  content: "";
  background: rgba(79, 50, 15, 0.6);
  inset: 0;
}

@media (max-width: 1034px) {
  .mainmenu:before {
    background: rgba(79, 47, 15, 0.7);
  }
}

.mainmenu .container {
  z-index: 1;
}

@media (min-width: 1365px) {
  .mainmenu {
    background-attachment: fixed;
  }
}

.mainmenu h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #E3C4A4;
}

.mainmenu blockquote {
  color: #D5A674;
  padding-left: 20px;
  font-size: 15px;
  border-left: 2px solid var(--color-primary);
  margin: 40px 0;
}

.mainmenu .btn-get-started {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #E3C4A4;
  background: #7b4e24;
}

.mainmenu .btn-get-started:hover {
  background: rgba(225, 131, 42, 0.8);
}

@media (max-width: 640px) {
  .mainmenu h2 {
    font-size: 36px;
    line-height: 1;
  }

  .mainmenu .btn-get-started,
  .mainmenu .btn-watch-video {
    font-size: 13px;
  }
}


/*--------------------------
--#Menu---------------------
--------*/


h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
  color: #3E2F18;
  margin-right: 10px;
}

h4 {
  color: #ca7f1d;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 10px;
}


table {
  width: 100%;
}

table tr td {
  padding: 15px 0;
}

.card54 {
  padding: 5%;
  border-radius: 10px;
  background-color: #f1d6b9;
  height: 470px;
  }
  
  @media (max-width: 768px) {
  .card54 {
    height: 460px;
  }
  }
  
  @media (max-width: 480px) {
  .card54 {
  height: 815px;
  }
  }


.card54 header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card54 header button {
  background: transparent;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  
}

.avatar {
  width: 40px;
  height: 40px;
}

.stars {
  display: flex;
  gap: 3px;
}

.stars img {
  width: 16px;
  height: 16px;
}



.buttons54 {
  display: flex;
 
}

.buttons54 button {
  flex: 1;
  border: 1px;
  border-style: solid;
  border-color: #fce7ccc9;
  color: #ad5e08;
  background-color: #FCE7CC;
  border-radius: 10px;
  margin-left: 4px;
  margin-bottom: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transition: border-color 1s , background-color 0.3s,border-radius 0.3s,margin-left 0.4s,margin-right 0.4s
  ,margin-bottom 0.4s,padding-left 0.4s,
  padding-right 0.4s,background-image 0.4s;
  
}
.buttons54 button:hover {
  background-color: #f5f5f5;
  border: 3px;
  border-color: #fce7ccd5;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right:10px;
  background-image: linear-gradient(to right, rgba(255, 145, 0, 0.39),rgb(252, 173, 100));
 font-weight: bolder;
  
}
.buttons54 button:active {
  color: #d3832d;
}

@media only screen and (max-width: 768px) {
  .buttons54 button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .buttons54 {
    flex-wrap: wrap;
  }
  
  .buttons54 button {
    flex: 1 0 50%;
    font-size: 14px;
  }
}




.tables {
  position: relative;
  min-height: 100px;
 
}


table {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  animation: table-out 0.2s both;
}

table tr td:nth-child(2) {
  width: 140px;
}

table tr td:last-child {
  text-align: right;
}

@keyframes table-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes table-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

table.active {
  animation: table-in 0.2s 0.2s both;
}


/*sign in */

form {
  position:absolute;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(216, 176, 111, 0.904);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(175, 108, 8, 0.6);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  form {
    width: 90%;
    padding: 20px;
  }
}
  
  @media (max-width: 480px) {
  .form {
  width: 215px;
  }
  }

h2 {
  text-align: center;
  color:#f5d6b5b3;
  margin-bottom: 45px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #aa4d22;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #f5d2c5;
}

small {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #f7d26e;
}

button[type="submit"] {
  background-color: #f7aa8e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #dc6e3d;
}


.h2f{
  color: #fadfbfb3;
}
h2 {
  color:#472802b3;
}

label {
  color: #462b02;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  background-color: #ffe9d9;
  border-color: #8b592b85;
}

input[type="text"]:focus,
input[type="password"]:focus,
form input[type="email"]:focus {
  border-color: #8b592be7;
}

small {
  color: #f1e6d5;
}

button[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f5ccba;
  background-color: #c05d00;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  
}

button[type="submit"]:hover {
  background: #c05d00;
  color: #e6bf93;
  border-radius: 5px;
  box-shadow: 0 0 5px #c05d00,
              0 0 25px #c05d00,
              0 0 50px #c05d00,
              0 0 100px #f47703;

}
.login{
  color: #884905;
  margin-top: 20px;
  vertical-align: center;
}
.login:hover{
  color: #bd4e04;
}

.dropdown-item:hover{
  background-color: #B98539 ;
}